<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="snmpStrategy" class="org.opennms.horizon.shared.snmp.snmp4j.Snmp4JStrategy"/>

    <bean class="org.opennms.horizon.shared.snmp.SnmpHelperImpl">
        <constructor-arg ref="snmpStrategy"/>
    </bean>

</beans>
